<div class="container">
    <h2 class="my-3">Micro frontends with Module Federation</h2>

    <p>
        This is an example about micro frontend with Module Federation. Each button above loads a remote application.
        Click in one and see the magic.
    </p>

    <div style="width:100%;height:0;padding-bottom:67%;position:relative;">
        <iframe src="https://giphy.com/embed/NmerZ36iBkmKk" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
</div>